<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary d-flex flex-wrap">
    <img src="/images/home.jpeg" alt="Descriptive image text" class="img-fluid me-md-5 mb-3 mb-md-0" style=" max-width: 50%; height: 50%; border-radius: 5%;">  <div class="col-md-6 p-lg-5 mx-auto">
      <h1 class="display-3 fw-bold">Create your first blog post.</h1>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="/create">
          Create
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>