<%- include("partials/header.ejs") %>

<form action="/submit" method="POST">
    <input type="text" name="title" placeholder="Title of your post">
    <input type="text" name="body" placeholder="Content">
    <input type="submit" value="OK">
  </form>